<manifest package="com.example.calendario" xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name=".CalendarApp"
        android:theme="@style/Theme.Calendario"
        android:label="Calendario"
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
